/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3498db, #ffffff);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
/* Note: Firefox does not support gradients on scrollbar-thumb */

* {
  scrollbar-color: #3498db #000000;
  scrollbar-width: thin;
}
